.padding-header {
    padding: 0 3.5em;
    height: 80px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.div-logo-header {
    display: flex;
    align-items: center;
}

.image-logo-alura {
    padding: 1em;
    height: 72px;
    width: 72px;
}

.font-weight-700 {
    font-weight: 700;
}

.alura-books-h1 {
    display: block;
    font-family: "Josefin Sans";
    font-size: 1.875em;
    font-weight: 400;
    padding-top: 10px;
}

.links-header {
    color: #000;
    text-decoration: none !important;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 28px;
    text-transform: uppercase;
    font-family: "Poppins";
    font-size: 18px;
    list-style: none;
}

.links-header:hover {
    background-color: #002F52;
    color: #ffffff;
    height: 80px;
}

.display-flex {
    display: flex;
}

.background-color-section {
    background-color: #002F52;
    height: 320px;
}

.links-icones-header {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 1.35em;
}

.links-icones-header:hover {
    color: #000;
}

.padding-sacola {
    padding: 1.1em;
}

.link-perfil {
    padding-top: 20px;
}

.display-none-coracao {
    display: none !important;
}

.bars-menu {
    display: none;
}

.container_botao {
    display: none;
}

.container-rotulo {
    display: none;
}

.opcoes_botao {
    display: none;
}

.lista-menu {
    display: none;
}

.opcoes_botao:checked~.lista-menu {
    display: block !important;
}

.link-menu-titulo {
    text-decoration: none;   
    font-weight: 700;
    font-size: 18px;
    padding: 1em !important;
    color: #eb9800;
}

.link-menu-titulo:hover {
    color: #eb9800;
}

.lista-menu-itens {
    text-decoration: none;
    color: #326589 ;
    padding: 1em;
    font-size: 18px;
    text-transform: uppercase;
}

.lista-menu {
    display: none;
    background-color: white;
    margin-top: 80px;
    position: absolute;
    margin-left: -15px;
}

.div-pesquisa {
    padding: 4.5em 0;
    color: white;
    text-align: center;
}

.titulo-pesquisa {
    font-size: 2.55em;
    font-weight: 700;
    font-family: "Poppins";
}

.texto-pesquisa {
    font-weight: 500;
    margin: 1em 0;
}

.input-de-pesquisa {
    width: 45%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 24px;
    padding: 1em;
    text-align: center;
}

.section-cinza {
    background-color: #ebe6e6;
    height: 473px;
}

.div-lancamentos {
    height: 80px;
    text-align: center;
}

.titulo-lancamentos {
    font-size: 1.675em;
    color: #eb9800;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1em;
}

.card {
    margin: 6em 0 0 0em;
    width: 100%;
    background: white;
    box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1.5em 1em;
}

.titulo-card {
    font-size: 1.35em;
    color: #eb9800;
    font-weight: 700;
}

.subtitulo-card {
    color: #002F52;
    font-size: 1.125em;
    font-weight: 700;
    margin: 0.825em 0;
}

.descricao-card {
    font-size: 1em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 700;
}

.img-card {
    margin-bottom: 1em;
    margin-left: 29%;
    border-radius: 10px
}

.imgs-card {
    margin: 0 .5em;
}

.botao-saiba-mais {
    background-color: #eb9800;
    padding: 1em 2.6em;
    color:white;
    font-weight: 700;
    text-decoration: none;
    margin-left: 69px;
    border-radius: 10px
}

.botao-saiba-mais:hover {
    color: #002F;
    border-radius: 10px
}

.container1 {
    display: flex;
    margin-top: 60px;
}
  
.cards {
    display: flex;
    height: 370px;
    width: 263px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.cards:not(:first-child) {
    margin-left: -50px;
}
  
.cards:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
  
.cards:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.img-card-carousel {
    margin: -100px 0px 0px -20px;
    height: 370px;
    border-radius: 10px;
}
  
.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}
  
.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}
  
.cards:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}
  
svg {
    fill: #17141d;
    stroke-width: 2px;
}
  
.cards:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

/*Responsive*/

@media (max-width: 320px) {

    .display-none-coracao {
        display: block !important;
    }

    .container-rotulo {
        display: block;
    }

    .bars-menu {
        display: block;
    }

    .padding-header {
        padding: 0 0em;
        height: 80px;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .alura-books-h1 {
        display: none;
        font-family: "Josefin Sans";
        font-size: 1.875em;
        font-weight: 400;
        padding-top: 10px;
    }

    .col-display {
        display: none;
    }

    .link-perfil {
        display: none;
    }

    .margin-col {
        margin-top: -65px;
        margin-left: 140px;
        width: 50%;
    }

    .col-width {
        width: 50%;
    }

    .padding-sacola {
        padding: 0.7em;
    }

    .background-color-section {
        background-color: #002F52;
        height: 320px;
        width: 108%;
    }

    .container-rotulo {
        background-color: #002F52;
    }

    .lista-menu {
        display: none;
        background-color: white;
        margin-top: 435px;
        position: absolute;
        margin-left: -24px;
    }

    .container_botao {
        display: none;
    }

    .container_botao:checked~.lista-menu {
        display: block !important;
    }

    .teste {
        background-image: url("https://robertojunnior.github.io/alura-books/img/MenuAberto.svg");
        width: 30px;
        height: 25px;
        display: inline-block;
    }

    .link-menu-titulo {
        text-decoration: none;   
        font-weight: 700;
        font-size: 20px;
        padding: 1em !important;
        color: #eb9800;
    }

    .lista-menu-itens {
        text-decoration: none;
        color: #326589 ;
        padding: 1em;
        font-size: 20px;
        text-transform: uppercase;
    }

    .titulo-pesquisa {
        font-size: 2.1em;
        font-weight: 700;
        font-family: "Poppins";
    }

    .input-de-pesquisa {
        width: 100%;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 24px;
        padding: 1em;
        text-align: center;
    }

    .background-color-section {
        background-color: #002F52;
        height: 380px;
        width: 108%;
    }

    .imgs-card {
        margin: 0 .5em;
        display: none;
    }

    .titulo-lancamentos {
        font-size: 1.39em;
        color: #eb9800;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1em;
    }

    .cards {
        display: flex;
        height: 370px;
        width: 66px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
    }

    .section-cinza {
        background-color: #ebe6e6;
        height: 840px;
        width: 108%;
    }

    .botao-saiba-mais {
        background-color: #eb9800;
        padding: 1em 2em;
        color: white;
        font-weight: 700;
        text-decoration: none;
        margin-left: 24%;
        border-radius: 10px;
    }

    .img-card {
        display: none;
    }

    .titulo-card {
        font-size: 1.4em;
        color: #eb9800;
        font-weight: 700;
    }

    .descricao-card {
        font-size: 1em;
        margin-right: 1.5em;
        margin-bottom: 2.5em;
        font-weight: 700;
    }

    .subtitulo-card {
        color: #002F52;
        font-size: 1.2em;
        font-weight: 700;
        margin: 0.825em 0;
    }

    .card {
        margin: 5em 0 0 0em;
        width: 100%;
        background: white;
        box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 1.5em 1em;
    }

}

@media (min-width: 321px) and (max-width: 376px) {

    .display-none-coracao {
        display: block !important;
    }

    .container-rotulo {
        display: block;
    }

    .bars-menu {
        display: block;
    }

    .padding-header {
        padding: 0 0em;
        height: 80px;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .alura-books-h1 {
        display: none;
        font-family: "Josefin Sans";
        font-size: 1.875em;
        font-weight: 400;
        padding-top: 10px;
    }

    .col-display {
        display: none;
    }

    .link-perfil {
        display: none;
    }

    .margin-col {
        margin-top: -65px;
        margin-left: 215px;
        width: 50%;
    }

    .col-width {
        width: 50%;
    }

    .padding-sacola {
        padding: 0.7em;
    }

    .background-color-section {
        background-color: #002F52;
        height: 320px;
        width: 108%;
    }

    .container-rotulo {
        background-color: #002F52;
    }

    .lista-menu {
        display: none;
        background-color: white;
        margin-top: 435px;
        position: absolute;
        margin-left: -24px;
    }

    .container_botao {
        display: none;
    }

    .container_botao:checked~.lista-menu {
        display: block !important;
    }

    .teste {
        background-image: url("https://robertojunnior.github.io/alura-books/img/MenuAberto.svg");
        width: 30px;
        height: 25px;
        display: inline-block;
    }

    .link-menu-titulo {
        text-decoration: none;   
        font-weight: 700;
        font-size: 20px;
        padding: 1em !important;
        color: #eb9800;
    }

    .lista-menu-itens {
        text-decoration: none;
        color: #326589 ;
        padding: 1em;
        font-size: 20px;
        text-transform: uppercase;
    }

    .titulo-pesquisa {
        font-size: 2.1em;
        font-weight: 700;
        font-family: "Poppins";
    }

    .input-de-pesquisa {
        width: 100%;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 24px;
        padding: 1em;
        text-align: center;
    }

    .background-color-section {
        background-color: #002F52;
        height: 370px;
        width: 108%;
    }

    .imgs-card {
        margin: 0 .5em;
        display: none;
    }

    .titulo-lancamentos {
        font-size: 1.6em;
        color: #eb9800;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1em;
    }

    .cards {
        display: flex;
        height: 370px;
        width: 97px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
    }

    .section-cinza {
        background-color: #ebe6e6;
        height: 840px;
        width: 108%;
    }

    .botao-saiba-mais {
        background-color: #eb9800;
        padding: 1em 2em;
        color: white;
        font-weight: 700;
        text-decoration: none;
        margin-left: 28%;
        border-radius: 10px;
    }

    .img-card {
        display: none;
    }

    .titulo-card {
        font-size: 1.4em;
        color: #eb9800;
        font-weight: 700;
    }

    .descricao-card {
        font-size: 1em;
        margin-right: 1.5em;
        margin-bottom: 2.5em;
        font-weight: 700;
    }

    .subtitulo-card {
        color: #002F52;
        font-size: 1.2em;
        font-weight: 700;
        margin: 0.825em 0;
    }

    .card {
        margin: 5em 0 0 0em;
        width: 100%;
        background: white;
        box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 1.5em 1em;
    }

}

@media (min-width:  377px) and (max-width: 576px) {

    .display-none-coracao {
        display: block !important;
    }

    .container-rotulo {
        display: block;
    }

    .bars-menu {
        display: block;
    }

    .padding-header {
        padding: 0 0em;
        height: 80px;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .alura-books-h1 {
        display: none;
        font-family: "Josefin Sans";
        font-size: 1.875em;
        font-weight: 400;
        padding-top: 10px;
    }

    .col-display {
        display: none;
    }

    .link-perfil {
        display: none;
    }

    .margin-col {
        margin-top: -65px;
        margin-left: 225px;
        width: 50%;
    }

    .col-width {
        width: 50%;
    }

    .padding-sacola {
        padding: 0.7em;
    }

    .background-color-section {
        background-color: #002F52;
        height: 320px;
        width: 102%;
    }

    .container-rotulo {
        background-color: #002F52;
    }

    .lista-menu {
        display: none;
        background-color: white;
        margin-top: 435px;
        position: absolute;
        margin-left: -24px;
    }

    .container_botao {
        display: none;
    }

    .container_botao:checked~.lista-menu {
        display: block !important;
    }

    .teste {
        background-image: url("https://robertojunnior.github.io/alura-books/img/MenuAberto.svg");
        width: 30px;
        height: 25px;
        display: inline-block;
    }

    .link-menu-titulo {
        text-decoration: none;   
        font-weight: 700;
        font-size: 20px;
        padding: 1em !important;
        color: #eb9800;
    }

    .lista-menu-itens {
        text-decoration: none;
        color: #326589 ;
        padding: 1em;
        font-size: 20px;
        text-transform: uppercase;
    }

    .titulo-pesquisa {
        font-size: 2em;
        font-weight: 700;
        font-family: "Poppins";
    }

    .input-de-pesquisa {
        width: 100%;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 24px;
        padding: 1em;
        text-align: center;
    }

    .imgs-card {
        margin: 0 .5em;
        display: none;
    }

    .cards {
        display: flex;
        height: 370px;
        width: 113px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
    }

    .section-cinza {
        background-color: #ebe6e6;
        height: 840px;
        width: 103%;
    }

    .botao-saiba-mais {
        background-color: #eb9800;
        padding: 1em 2em;
        color: white;
        font-weight: 700;
        text-decoration: none;
        margin-left: 30%;
        border-radius: 10px;
    }

    .img-card {
        display: none;
    }

    .titulo-card {
        font-size: 1.4em;
        color: #eb9800;
        font-weight: 700;
    }

    .descricao-card {
        font-size: 1em;
        margin-right: 1.5em;
        margin-bottom: 2.5em;
        font-weight: 700;
    }

    .subtitulo-card {
        color: #002F52;
        font-size: 1.2em;
        font-weight: 700;
        margin: 0.825em 0;
    }

    .card {
        margin: 5em 0 0 0em;
        width: 100%;
        background: white;
        box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 1.5em 1em;
    }

}

@media (min-width: 577px) and (max-width: 768px) {

    .display-none-coracao {
        display: block !important;
    }

    .container-rotulo {
        display: block;
    }

    .bars-menu {
        display: block;
    }

    .padding-header {
        padding: 0 0em;
        height: 80px;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .alura-books-h1 {
        display: block;
        font-family: "Josefin Sans";
        font-size: 1.875em;
        font-weight: 400;
        padding-top: 10px;
    }

    .col-display {
        display: none;
    }

    .link-perfil {
        display: none;
    }

    .margin-col {
        margin-top: 10px;
        margin-left: 195px;
        width: 50%;
    }

    .col-width {
        width: 50%;
    }

    .padding-sacola {
        padding: 0.7em;
    }

    .background-color-section {
        background-color: #002F52;
        height: 320px;
        width: 100%;
    }

    .container-rotulo {
        background-color: #002F52;
    }

    .lista-menu {
        display: none;
        background-color: white;
        margin-top: 435px;
        position: absolute;
        margin-left: -24px;
    }

    .container_botao {
        display: none;
    }

    .container_botao:checked~.lista-menu {
        display: block !important;
    }

    .teste {
        background-image: url("https://robertojunnior.github.io/alura-books/img/MenuAberto.svg");
        width: 30px;
        height: 25px;
        display: inline-block;
    }

    .link-menu-titulo {
        text-decoration: none;   
        font-weight: 700;
        font-size: 20px;
        padding: 1em !important;
        color: #eb9800;
    }

    .lista-menu-itens {
        text-decoration: none;
        color: #326589 ;
        padding: 1em;
        font-size: 20px;
        text-transform: uppercase;
    }

    .widht-row {
        width: 100%;
    }

    .cards {
        display: flex;
        height: 370px;
        width: 266px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
    }

    .section-cinza {
        background-color: #ebe6e6;
        height: 840px;
    }

    .botao-saiba-mais {
        background-color: #eb9800;
        padding: 1em 2em;
        color: white;
        font-weight: 700;
        text-decoration: none;
        margin-left: 50px;
        border-radius: 10px;
    }

    .img-card {
        margin-bottom: 1.8em;
        border-radius: 10px;
        margin-left: 40px;
    }

    .titulo-card {
        font-size: 1.4em;
        color: #eb9800;
        font-weight: 700;
    }

    .descricao-card {
        font-size: 1em;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
        font-weight: 700;
    }

    .subtitulo-card {
        color: #002F52;
        font-size: 1.2em;
        font-weight: 700;
        margin: 0.825em 0;
    }

    .card {
        margin: 5em 0 0 0em;
        width: 100%;
        background: white;
        box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 1.5em 1em;
    }

}
  
@media (min-width: 993px) and (max-width: 1200px) {

    .display-none-coracao {
        display: block !important;
    }

    .container-rotulo {
        display: block;
    }

    .bars-menu {
        display: block;
    }

    .padding-header {
        padding: 0 0em;
        height: 80px;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .alura-books-h1 {
        display: block;
        font-family: "Josefin Sans";
        font-size: 1.875em;
        font-weight: 400;
        padding-top: 10px;
    }

    .col-display {
        display: none;
    }

    .link-perfil {
        display: none;
    }

    .margin-col {
        margin-top: 10px;
        margin-left: 320px;
        width: 50%;
    }

    .col-width {
        width: 50%;
    }

    .padding-sacola {
        padding: 0.7em;
    }

    .background-color-section {
        background-color: #002F52;
        height: 320px;
        width: 100%;
    }

    .container-rotulo {
        background-color: #002F52;
    }

    .lista-menu {
        display: none;
        background-color: white;
        margin-top: 435px;
        position: absolute;
        margin-left: -24px;
    }

    .container_botao {
        display: none;
    }

    .container_botao:checked~.lista-menu {
        display: block !important;
    }

    .teste {
        background-image: url("https://robertojunnior.github.io/alura-books/img/MenuAberto.svg");
        width: 30px;
        height: 25px;
        display: inline-block;
    }

    .link-menu-titulo {
        text-decoration: none;   
        font-weight: 700;
        font-size: 20px;
        padding: 1em !important;
        color: #eb9800;
    }

    .lista-menu-itens {
        text-decoration: none;
        color: #326589 ;
        padding: 1em;
        font-size: 20px;
        text-transform: uppercase;
    }

    .widht-row {
        width: 100%;
    }

    .cards {
        display: flex;
        height: 370px;
        width: 186px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        transition: 0.4s ease-out;
        position: relative;
        left: 0px;
    }

    .section-cinza {
        background-color: #ebe6e6;
        height: 490px;
    }

    .botao-saiba-mais {
        background-color: #eb9800;
        padding: 1em 2em;
        color: white;
        font-weight: 700;
        text-decoration: none;
        margin-left: 10px;
        border-radius: 10px;
    }

    .img-card {
        margin-bottom: 1em;
        border-radius: 10px;
        margin-left: 0px;
    }

    .titulo-card {
        font-size: 1.2em;
        color: #eb9800;
        font-weight: 700;
    }

    .descricao-card {
        font-size: 0.9em;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
        font-weight: 700;
    }

    .card {
        margin: 5em 0 0 0em;
        width: 100%;
        background: white;
        box-shadow: 15px 15px 32px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 1.5em 1em;
    }

}

@media (min-width: 1201px) {
    
}